<h1 class="text-center"><%= pluralize(@vs.count, "Result") %></h1>
<%= render 'search/form'%>

<% @vs.each do |vacancy| %>

<div class="card  tab border-info mb-2 my-2 " style="max-width: 40rem;">
  <div class="card-body">
    <div class="card-header bg-transparent border-success">
      <h5 class="card-title"><%= vacancy.company.name %>, <%= vacancy.company.location %></h5>
      <p><%= vacancy.job_title %></p>
      <span style="color:blue;">Posted: <%= vacancy.created_at.strftime('%d/%m/%Y')%> | <%= vacancy.job_type %> | Jobs For COVID-19 Layoffs</span>
      <%= link_to "apply", new_job_seeker_path(vacancy.id,vacancy.company_id), class: "btn btn-primary"%>
    </div>
    <p>You can visit for more information about Company
      <a href="<%= vacancy.company.link %>"> Visit Webkorps.com!</a>
    </p>
    <p class="card-text">
      <h5 class="card-title">Minimum qualifications:</h5>
      <p class="card-text">
        <ul>
        <li><%= vacancy.qualification %></li>
        <li><%= vacancy.language_knowledge %></li>
        </ul>
      </p>
    </p>
    <p>
      <span data-toggle="collapse" data-target="#collapseExample<%=vacancy.id%>" aria-expanded="false" aria-controls="collapseExample" style="color:blue;">Expand↓</span>
    </p>
    <div class="collapse" id="collapseExample<%=vacancy.id%>">
      <div class="body">


    <h5>Preferred qualifications:</h5>
    <p>
      <ul>
      <li><%= vacancy.experience %></li>
      <li><%= vacancy.skills %></li>
      </ul>
    </p>

    <h3>About the job</h3>
    <div>
      <%= vacancy.description %>
    </div>
    <%= link_to 'Apply', new_job_seeker_path(vacancy.id,vacancy.company_id), class: "btn btn-primary"   %>
      </div>
    </div> 
  </div>
</div>

<%end%>
