<div class= "col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
    <h2 class="card-title">Job Seeker Details</h2>
    </div>
    <div class="card-body">
      <p><strong>Company: </strong><%= @js.company_detail.company_name %></p>
      <p><strong>Name: </strong><%= @js.name %></p>
      <p><strong>Number: </strong><%= @js.number %></p>
      <p><strong>email: </strong><%= @js.email %></p>
      <p><strong>gender: </strong><%= @js.gender %></p>
      <p><strong>10%: </strong><%= @js.percentage_10th %></p>
      <p><strong>percentage_12th: </strong><%= @js.percentage_12th %></p>
      <p><strong>graduation_course: </strong><%= @js.graduation_course %></p>
      <p><strong>stream: </strong><%= @js.stream %></p>
      <p><strong>graduation_percentage: </strong><%= @js.graduation_percentage %></p>
      <p><strong>hometown: </strong><%= @js.hometown %></p>
      <p><strong>current_location: </strong><%= @js.current_location %></p>
      <p><strong>placed: </strong><%= @js.placed%></p>
      <p><strong>cv: </strong><%= @js.cv%></p>
  </div>
</div>
