<body>
  <table class="table  table-success table-striped">
    <thead class="table-dark">
      </tr>
        <th>Job Title</th>
        <th>Time</th>
        <th colspan= "4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @vs.each do |vacancy| %>
      
        <% if current_user.admin? || ( current_user.company? && current_user.id == vacancy.company_detail.user_id ) %>
          <tr>
            <td><%= vacancy.job_title %></td>
            <td><%= vacancy.created_at.strftime('%d/%m/%Y') %></td>

            <td><%= link_to 'Show', vacancy_path(vacancy), class: "btn btn-primary" %></td>
            <td><%= link_to 'Delete', vacancy_path(vacancy),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_vacancy_path(vacancy), class: "btn btn-primary" %></td> 
            <td><%= link_to 'Request', vacancys_job_path(vacancy), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>

     </tbody>
  </table>
</body>


        <%
=begin%>
            <td><button><%= link_to 'All Filled Form', job_seekers_path(vacancy.id) %></button></td>

 <th>Company Detail Id%</th>
        <td><%= vacancy.company_detail_id %></td> 
<%
=end%>

