<div class= "col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
    <h2 class="card-title">vacancy</h2>
    </div>
    <div class="card-body">
      <p><strong>job_title: </strong><%= @vs.job_title %></p>
      <p><strong>job_type: </strong><%= @vs.job_type %></p>
      <p><strong>experience: </strong><%= @vs.experience %></p>
      <p><strong>qualification: </strong><%= @vs.qualification %></p>
      <p><strong>other knowledge: </strong><%= @vs.other_knowledge %></p>
      <p><strong>language knowledge: </strong><%= @vs.language_knowledge %></p>
      <p><strong>description: </strong><%= @vs.description %></p>
      <p><strong>company_detail_id: </strong><%= @vs.company_detail_id %></p>
  </div>
</div>
