 <%= form_with scope: :company_detail, url: company_details_path, local: true do |f| %>

    <% if @cd.errors.any? %>
        <h2>The following errors prevented the Company details being saved</h2>
        <% @cd.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
    <% end %> 
    
    <p> 
        <%= f.label :company_name, class: 'mb-2'  %>
        <%= f.text_field :company_name, Placeholder: "Enter company name", autofocus: false, class: "form-control form-control-lg" %>
    </p>

    <p> 
        <%= f.label :company_link, class: 'mb-2'  %>
        <%= f.text_field :company_link, Placeholder: "Enter company name", autofocus: true, class: "form-control form-control-lg" %>
    </p>

    <p> 
        <%= f.label :company_location, class: 'mb-2'  %>
        <%= f.text_field :company_location, Placeholder: "Enter company location", autofocus: true, class: "form-control form-control-lg" %>


    </p>

    <p> 
        <%= f.label :company_started_year, class: 'mb-2'  %>
        <%= f.date_field :company_started_year, Placeholder: "Enter company started_year", autofocus: true, class: "form-control form-control-lg" %>
    </p>

    <p> 
        <%= f.label :job_types, class: 'mb-2'  %>
        <%= f.text_field :job_types, Placeholder: "Enter job_types", autofocus: true, class: "form-control form-control-lg"%>
    </p>

    <p> 
        <%= f.hidden_field :user_id, value: current_user.id %>
    </p>
  
    <p>
        <%= f.submit 'submit', class: "btn btn-primary" %> 
    </p>
    
    <% end %>