<section class="main py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7">
        <h1>Find The <br> Most Exciting <br>
        Startup Jobs</h1>

        <%= search_form_for(@query, url: search_path, method: :get) do |f| %>
            <%= f.search_field :job_title_or_job_type_i_cont_any, placeholder: "Job Tttle Or Type.....", class: "in" %>
            <%= f.submit "Find Job", class: "btn2 mt-2"  %>
        <% end %>
        
      </div>
    </div>
  </div>
</section> 

<%= render "about" %>

<section class="apply py-5">
  <div class="container text-white text-center py-5">
    <p class="red">APPLY PROCESS</p>
    <h1 >How it work</h1>
    <div class="row" py-5>

      <div class="col-lg-4 pt-2">
        <div class="card p-3">
          <div class="card-body text-center">
            <div class="cir1 pt-3 mb-3">
              <a href="http://localhost:3000/search"><%= image_tag "Cate1.JPG", class: "img-fluid", alt:""  %></a>
            </div>
            <h2>Search a job</h2>
            <p class="py-3">From applying to jobs to following up after an interview,
             here everything p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 pt-2">
        <div class="card p-3">
          <div class="card-body text-center">
            <div class="cir1 pt-3 mb-3">
              <a href="http://localhost:3000/homes/home2"><%= image_tag "cate4.JPG", class: "img-fluid", alt:""  %></a>
            </div>
            <h2>Apply for job</h2>
            <p class="py-3">From applying to jobs to following up after an interview,
             here everything p>
          </div>
        </div>
      </div>

            <div class="col-lg-4 pt-2">
        <div class="card p-3">
          <div class="card-body text-center">
            <div class="cir1 pt-3 mb-3">
              <a href="http://localhost:3000/homes/home2"><%= image_tag "cate5.JPG", class: "img-fluid", alt:""  %></a>
            </div>
            <h2>Get your job</h2>
            <p class="py-3">From applying to jobs to following up after an interview,
             here everything p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="slider py-5">
  <div class="container text-center py-5">
    <div class="row">
      <div class="col-lg-9 m-auto">
        
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
          
            <div class="carousel-item active">
              <%= image_tag "Capture.JPG", class: "img-fluid avatar mb-4", alt:"..."  %>
              <h4>Mergaret Lawson</h4>
              <p>Creative Director</p>
              <p class="perac py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>

            <div class="carousel-item">
              <%= image_tag "car2.JPG", class: "img-fluid avatar mb-4", alt:"..."  %>
              <h4>Mergaret Lawson</h4>
              <p>Creative Director</p>
              <p class="perac py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
           
            </div>

            <div class="carousel-item">
              <%= image_tag "car2.JPG", class: "img-fluid avatar mb-4", alt:"..."  %>
              <h4>Mergaret Lawson</h4>
              <p>Creative Director</p>
              <p class="perac py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
           
            </div>

          </div>
          <%
=begin%>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> 
<%
=end%>
        </div>

      </div>
    </div>
  </div>
</section>

<%
=begin%>
 
<section class="ceta py-5">
  <div calss="container-fluid py-5 text-center">
    <p class="red">FEATURED TOURS PACKAGES</P>
    <h1>Browse Top Categories</h1>
    <div class="row py-5">
      <div class="col-lg-11 m-auto pt-3">
        <div class="row py-5">
        
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card py-3">
              <div class="card-body">
                <%= image_tag "Cate1.JPG", class: "img-fluid my-3", alt:""  %>
                <h6>Design & Creative</h6>
                <h6 class="red">(785)</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> 
<%
=end%>



<section class="footer py-5">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="py-5">ABOUT US</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
          <div class="col-lg-4">
            <h3 class="py-5">CONTACT INFO</h3>
            <p>Address : Vijay nagar, Indore(MP)</p>
            <p class="link pt-3">Phone : +9340805774</p>
            <p class="link">Email : www.123@email.com</p>
          </div>
          <div class="col-lg-4">
            <h3 class="py-5">IMPORTANT LINK</h3>
            <p class="link">View Project</p>
            <p class="link">Contect Us</p>
            <p class="link">Testimonial</p>
            <p class="link">Properties</p>
            <p class="link">Support</p>
          </div
        </div>
        <hr>
        <p class="py-4">Copyright 02022 All rights reserved | This template is made with by <span class="red">ROR</span></p>
      </div>
    </div>
  </div>

</section>

