
    <% if user_signed_in? %>
    <div class="identity"> Hii <span><%= current_user.username%></span></br>
     you are a <span><%= current_user.role%></span></div>
    <%end%> 


<% @vs.each do |vacancy| %>

<div class="card tab border-info mb-2" style="max-width: 50rem;">
  <div class="card-body">
    <div class="card-header bg-transparent border-success">
      <h5 class="card-title"><%= vacancy.company_detail.company_name %>, <%= vacancy.company_detail.company_location %></h5>
      <p><%= vacancy.job_title %></p>
      <span style="color:blue;">Posted: <%= vacancy.created_at.strftime('%d/%m/%Y')%> | <%= vacancy.job_type %> | Jobs For COVID-19 Layoffs</span>
      <button><%= link_to "apply", new_job_seeker_path(vacancy.id,vacancy.company_detail_id)%></button>
    </div>
    <p>You can visit for more information about Company
      <a href="<%= vacancy.company_detail.company_link %>"> Visit Webkorps.com!</a>
    </p>
    <p class="card-text">
      <h5 class="card-title">Minimum qualifications:</h5>
      <p class="card-text">
        <ul>
        <li><%= vacancy.qualification %></li>
        <li><%= vacancy.language_knowledge %></li>
        </ul>
      </p>
    </p>
    <p>
      <span data-toggle="collapse" data-target="#collapseExample<%=vacancy.id%>" aria-expanded="false" aria-controls="collapseExample" style="color:blue;">Expand↓</span>
    </p>
    <div class="collapse" id="collapseExample<%=vacancy.id%>">
      <div class="body">


    <h5>Preferred qualifications:</h5>
    <p>
      <ul>
      <li><%= vacancy.experience %></li>
      <li><%= vacancy.other_knowledge %></li>
      </ul>
    </p>

    <h3>About the job</h3>
    <div>
      <%= vacancy.description %>
    </div>
    <button><%= link_to 'Apply', new_job_seeker_path(vacancy.id,vacancy.company_detail_id) %></button>
      </div>
    </div> 
  </div>
</div>

<%end%>





