<div class= "col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
    <h2 class="card-title">Company Details</h2>
    </div>
    <div class="card-body">
      <p><strong>Nacompany_nameme: </strong><%= @cd.name %></p>
      <p><strong>company_location: </strong><%= @cd.location %></p>
      <p><strong>company_started_year: </strong><%= @cd.started_year %></p>
      <p><strong>job_types: </strong><%= @cd.job_types %></p>
      <p><strong>user_id: </strong><%= @cd.user_id %></p>
      <%= link_to "See Company Details", companys_path , class: "taxt-center"%>

  </div>
</div>
